.rating-page {
    &__title {
        font-size: 24px;

        @media (min-width: 768px) {
            font-size: 1.5em;
        }
    }

    &__title-icon {
        width: 22px;
        height: auto;
        display: inline-block;

        @media (min-width: 768px) {
            width: 30px;
        }

        img {
            width: 100%;
            height: auto;
        }
    }


    &__table {
        width: 100%;
        border-collapse: collapse;
    }

    &__table-title-btn {
        padding: 0;
        background: transparent;
        border: none;
        border-radius: 5px;
        padding-top: 4px;

        &:hover:not(:disabled) {
            background: #c4c4c4ae;
            outline: none;
        }

        &:focus:not(:disabled) {
            outline: none;
            background: #c4c4c4ae;
        }

        &:active:not(:disabled) {
            background: #c4c4c47c;
        }
    }

    &__table-title-icon {
        width: 20px;
        height: auto;
        display: inline-block;
        padding: 0;
        background-color: transparent;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__table-title-row {
        font-size: 10px;

        @media (min-width: 360px) {
            font-size: 14px;
        }

        @media (min-width: 912px) {
            font-size: 22px;
        }
    }

    &__table-data-row {
        border-top: 1px solid #ccc;
        padding: 16px 0;
    }

    &__table-data {
        text-align: center;
        font-size: 10px;
        padding: 20px 0;

        @media (min-width: 360px) {
            font-size: 12px;
        }

        @media (min-width: 420px) {
            font-size: 14px;
        }

        @media (min-width: 912px) {
            font-size: 20px;
        }
    }

    .accent {
        background-color: #0f749c27;
    }
}