<section class="recordsbook-page">
  <div class="widget-card">
    <h2 class="recordsbook-page__title">
      Recordsbook
      <div class="recordsbook-page__title-icon">
        <img src="assets/icons/book-icon.svg" alt="" />
      </div>
    </h2>
    <div class="recordsbook-page__subtitle-wrapper">
      <h3 class="recordsbook-page__subtitle">Semester</h3>
      <div class="recordsbook-page__subtitle-select">
        <select
          name="semesters"
          id="semester-select"
          (change)="onSemesterChange($event)"
        >
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
        </select>
      </div>
    </div>
    <table class="recordsbook-page__table">
      <tr class="recordsbook-page__table-title-row">
        <th class="recordsbook-page__table-title">Department</th>
        <th class="recordsbook-page__table-title">Subject</th>
        <th class="recordsbook-page__table-title">Control</th>
        <th class="recordsbook-page__table-title">Mark Nat.</th>
        <th class="recordsbook-page__table-title">Mark</th>
        <th class="recordsbook-page__table-title">ECTS</th>
      </tr>
      <tr
        class="recordsbook-page__table-data-row"
        *ngFor="let subject of data; index as i"
      >
        <td class="recordsbook-page__table-data">
          {{ subject.department }} [{{ subject.departmentAbr }}]
        </td>
        <td class="recordsbook-page__table-data">
          <strong>{{ subject.name }}</strong>
          <sub class="recordsbook-page__table-data-subtitle"
            >Lecturer: <strong>{{ subject.lecturer }}</strong></sub
          >
        </td>
        <td class="recordsbook-page__table-data">
          {{ subject.type }}
        </td>
        <td class="recordsbook-page__table-data">{{ subject.gradeNat }}</td>
        <td class="recordsbook-page__table-data">
          {{ subject.grade }}
        </td>
        <td class="recordsbook-page__table-data">
          {{ subject.gradeECTS }}
        </td>
      </tr>
    </table>
  </div>
</section>
