<div class="cabinet-input">
  <label [for]="inputId">{{ labelText }}</label>
  <div
    class="cabinet-input__outline"
    [ngClass]="{ 'input-disabled': disabled }"
  >
    <input
      [class.invalid]="control.invalid && control.dirty && control.touched"
      [id]="inputId"
      [type]="type"
      class="cabinet-input__field"
      [placeholder]="placeholder"
      [value]="inputValue"
      [disabled]="disabled"
      [formControl]="control"
    />
  </div>
  <ng-container *ngIf="control.invalid && control.dirty && control.touched">
    <small *ngFor="let err of control.errors | keyvalue">
      {{ errorMessages[err.key] }}
    </small>
  </ng-container>
</div>
