.studyschedule-page {
    box-sizing: border-box;
    height: 100%;

    .widget-card {
        padding: 10px 4px;

        @media (min-width: 600px) {
            padding: 10px 20px;
        }
    }

    &__title {
        font-size: 24px;

        @media (min-width: 600px) {
            font-size: 1.5em;
        }
    }

    &__subtitle {
        font-size: 22px;

        @media (min-width: 600px) {
            font-size: 1.17em;
        }
    }



    &__title-icon,
    &__subtitle-icon {
        width: 22px;
        height: auto;
        display: inline-block;
        padding: 0;
        background-color: transparent;

        @media (min-width: 600px) {
            width: 30px;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    &__subtitle-icon {
        width: 20px;
    }

    &__table-wrapper {
        border: 2px solid #ccc;
        margin-bottom: 20px;
        box-shadow: none;
    }

    &__table {
        width: 100%;
        border-collapse: collapse;
    }

    &__table-title-icon {
        width: 20px;
        height: auto;
        display: inline-block;
        padding: 0;
        background-color: transparent;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__table-title-row {
        font-size: 10px;

        @media (min-width: 360px) {
            font-size: 14px;
        }

        @media (min-width: 600px) {
            font-size: 22px;
        }
    }

    &__table-data-row {
        border-top: 1px solid #ccc;
        padding: 16px 0;
    }

    &__table-data {
        text-align: center;
        font-size: 10px;
        padding: 20px 0;

        @media (min-width: 360px) {
            font-size: 12px;
        }

        @media (min-width: 600px) {
            font-size: 20px;
        }
    }

    &__table-data-subtitle {
        margin-top: 8px;
        display: block;
    }
}