<section class="sportschedule-page">
  <div class="widget-card">
    <h2 class="sportschedule-page__title">
      Sports Schedule
      <div class="sportschedule-page__title-icon">
        <img src="assets/icons/calendar-icon.svg" alt="" />
      </div>
      <div class="sportschedule-page__title-icon">
        <img src="assets/icons/lifter-icon.svg" alt="" />
      </div>
    </h2>
    <table class="sportschedule-page__table">
      <tr class="sportschedule-page__table-title-row">
        <th class="sportschedule-page__table-title">Department</th>
        <th class="sportschedule-page__table-title">Subject</th>
        <th class="sportschedule-page__table-title">Control</th>
        <th class="sportschedule-page__table-title">Mark Nat.</th>
        <th class="sportschedule-page__table-title">Mark</th>
        <th class="sportschedule-page__table-title">ECTS</th>
      </tr>
      <!-- <tr
            class="sportschedule-page__table-data-row"
            *ngFor="let debt of data; index as i"
          >
            <td class="sportschedule-page__table-data">
              {{ debt.department }} [{{ debt.departmentAbr }}]
            </td>
            <td class="sportschedule-page__table-data">
              <strong>{{ debt.subject }}</strong>
              <sub class="sportschedule-page__table-data-subtitle"
                >Lecturer: <strong>{{ debt.lecturer }}</strong></sub
              >
            </td>
            <td class="sportschedule-page__table-data">
              {{ debt.year }}
            </td>
            <td class="sportschedule-page__table-data">{{ debt.semester }}</td>
            <td class="sportschedule-page__table-data">
              {{ debt.controlType }}
            </td>
          </tr> -->
    </table>
    {{ data | json }}
    <br />
    {{ data1 | json }}
  </div>
</section>
