<div class="login-page">
  <div class="login-page__wrapper">
    <form
      class="login-page__form"
      [formGroup]="login"
      (ngSubmit)="loginUser(login)"
    >
      <app-cabinet-input
        labelText="E-mail"
        placeholder="student.email@exmpl.khpi.edu.ua"
        type="email"
        [control]="getControl('email')"
      ></app-cabinet-input>
      <app-cabinet-input
        labelText="Password"
        type="password"
        placeholder="Password"
        [control]="getControl('password')"
      ></app-cabinet-input>
      <app-cabinet-button type="submit">Log-in</app-cabinet-button>
    </form>
  </div>
</div>
