/* You can add global styles to this file, and also import other style files */
body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Helvetica, sans-serif;
    background-color: #F2F0F7;
}

.widget-card {
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px #ccc;
    margin: 14px 20px;
}